site_name: My Docs
theme: readthedocs

navbar:
  - Home: index.md
  - About: aide.md

extra_javascript:
    - https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML

